body {
  background-color: #282634;
  color: #fff;

  line-height: 1;
  margin: 1em;
  font-family: "Ubuntu Mono", "Monaco", monospace;

  transition: background-color 2.5s, color 2.5s;
}


p {
  margin: 0;
}

pre {
  /*
  font-size: 8px;
  line-height: 6px;
  font-family: monospace;
  */
}

div {
  font-size: 1.2em;
  margin: 1em 0;
}

/*
@dead-channel: #231f20;
@sea: #37b0bb;
@mister: #f25633;
@twilight: #2b7acf;
@dead-violet: #282634;
@mid-violet: #4a475d;
@high-violet: #676097;
higher still #bab2f0
@sodium-vapor: #e57d00;
*/
