body {
  background-color: black;
  color: white;
}


/*
@dead-channel: #231f20;
@sea: #37b0bb;
@mister: #f25633;
@twilight: #2b7acf;
@dead-violet: #282634;
@mid-violet: #4a475d;
@high-violet: #676097;
@sodium-vapor: #e57d00;
*/
