body {
  /*
  background-color: black;
  color: white;
  */
  line-height: 1;
  margin: 0;
  font-family: sans-serif;
  transition: background-color 2.5s, color 2.5s;
}


p {
  margin: 0;
}

pre {
  font-size: 16px;
  line-height: 1;

  font-family: monospace;
  -webkit-font-smoothing: none;
}

/*
@dead-channel: #231f20;
@sea: #37b0bb;
@mister: #f25633;
@twilight: #2b7acf;
@dead-violet: #282634;
@mid-violet: #4a475d;
@high-violet: #676097;
@sodium-vapor: #e57d00;
*/
